# requirements file for raspberry
# for development in x64, packages should be similar


# dependencies in pypi
attrs==19.3.0
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorzero==1.1
crc16==0.1.1
gpiozero==1.5.0
h5py==2.10.0
iso8601==0.1.12
logzero==1.5.0
munch==2.5.0
pandas==0.25.3
pbkdf2==1.3
pbr==5.4.5
pyserial==3.4
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
Shapely==1.7.0
six==1.15.0
tendo==0.2.12
tzlocal==2.1
wifi==0.3.8
Fiona==1.8.13.post1


# dependencies as binaries
https://www.piwheels.org/simple/matplotlib/matplotlib-3.1.1-cp37-cp37m-linux_armv7l.whl
https://www.piwheels.org/simple/numpy/numpy-1.17.0rc1-cp37-cp37m-linux_armv7l.whl


# dependencies in github
git+https://github.com/LowellInstruments/bluepy.git
git+https://github.com/LowellInstruments/lowell-mat.git
