# lowell-mat not installed on 'dev' on purpose, so you can choose branch
Cartopy==0.18.0
numpy
matplotlib==3.3.3
wifi==0.3.8
pandas
iso8601==0.1.12
gpiozero==1.5.0
logzero==1.5.0
tzlocal
Fiona==1.8.13.post1
boto3
PyYAML
parse
pytest
PyQt5
